.dashboard-scheme-wrapper{
    max-height: 80px;
    overflow-y: hidden;
    height: 80px;
    // margin: 20px;
    font-size: 50px;
    color: #000 !important;
}

.project-info tbody td{
    padding: 13.6px 13.6px 13.6px 13.6px;
}

.dashboard-scheme-not-found-wrapper{
    max-height: 80px;
    height: 80px;
    // margin: 20px;
    font-size: 50px;
    color: #000 !important;
}